body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

ul {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    height: 40px;
    align-items: center;


}

.img {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("https://images.unsplash.com/photo-1719090024495-055990fc4228?q=80&w=2128&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;

    height: 100%;
    width: 100%;
    filter: blur(1.5rem);
    transform: scale(1.25);
}


header {
    color: white;
    padding: 5px;
    text-align: center;
    background: rgba(59, 1, 87, 0.54);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.5rem);
    -webkit-backdrop-filter: blur(1.1px);
    border: 1px solid rgba(71, 11, 153, 0.3);

}

.cart {
    position: absolute;
    top: 10px;
    right: 20px;
}

button {
    padding: 10px;
    background-color: #ad33ff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 99px;
}

button:hover {
    background-color: #f5f5f5;
    color: #ad33ff;
    font-weight: bold;
}

.products {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.product {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 33px;
    background: rgba(229, 30, 224, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.4px);
    -webkit-backdrop-filter: blur(11.4px);
    border: 1px solid rgba(229, 30, 224, 1);
    color: rgb(0, 0, 0);
}

.product img {
    width: 100%;
    height: 200px;
    border-radius: 16px;
    background-size: cover;
}

.product img:hover {
    transform: scale(1.1);
    cursor: pointer;

}

.quantity-controls {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.quantity-controls button {
    padding: 5px 10px;
    background-color: #c918ff;
    color: white;
    border: none;
    border-radius: 99px;
}

.quantity-controls span {
    margin: 0 10px;
    line-height: 30px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    width: 300px;
    text-align: center;
    background: rgba(229, 30, 224, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.4px);
    -webkit-backdrop-filter: blur(11.4px);
    border: 1px solid rgba(229, 30, 224, 1);
    color: white;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
}

.add-to-cart {

    border-radius: 99px;
}


@media only screen and (max-width: 600px) {
    .products {
        flex-direction: column;
        align-items: center;
    }

    .product {
        width: 80%;
        margin-bottom: 20px;
    }

    header {
        padding: 10px;
    }

    .cart {
        top: 15px;
        right: 10px;
    }

    .modal-content {
        width: 80%;
    }
}

@media only screen and (min-width: 601px) {
    .products {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .product {
        width: 200px;
        margin: 10px;
    }

    header {
        padding: 20px;
    }

    .cart {
        top: 20px;
        right: 20px;
    }

    .modal-content {
        width: 300px;
    }
}


nav {
    position: relative;
    z-index: 999;
    /* background-color: black; */

}
header nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}